<p>Address: <%= @apartment.address %></p>
<p>Rent: <%= @apartment.monthly_rent %></p>
<p>Square-feet: <%= @apartment.sqft %></p>
<p>Beds: <%= @apartment.num_beds %></p>
<p>Baths: <%= @apartment.num_baths %></p>
<p>Tenants: <%= @apartment.renters %></p>
