apartments_selected

<a href="#" >This apartment: <%= @@apartments[@appt_num] %></a>

address <%= @address %><br>
monthly_rent <%= @monthly_rent %><br>
sqft <%= @sqft %><br>
num_beds <%= @num_beds %><br>
num_baths <%= @num_baths %><br>


