<h1><%= @header_route %></h1>
<a class=link href='/<%= @all_apartments %>'>View all apartments</a>
<a class=link href='/<%= @search_apartment %>'>Search specific apartment</a>
<a class=link href='/<%= @add_apartment %>'>Add an apartment</a>
<a class=link href='/<%= @add_tenant %>'>Add a tenant</a>
