
<h1><%= @menu %></h1>
    <ul>
        <li><a href='<%= @apartments %>'>Manage apartments</a></li>
        <li><a href='<%= @tenants %>'>Manage tenants</a></li>
    </ul>
    <!-- <a class="yes" href='<%= @yes %>'>
        yes
    </a>
    <a class="no" href='<%= @no %>'>
        no
    </a> -->
